---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/home/Navbar.astro";
import LiveCart from "../components/cart/LiveCart.tsx";
import { loadHomeContent } from "../lib/content/home";
import { loadCartContent } from "../lib/content/cart";

const { navbar } = await loadHomeContent();
const { cart } = await loadCartContent();
---
<Layout title="Shopping Cart — Cups & Cakes">
  <div class="flex min-h-dvh flex-col">
    <Navbar {...navbar} />
    <LiveCart
      client:only="react"
      heading={cart.heading}
      productHeading={cart.productHeading}
      flavorHeading={cart.flavorHeading}
      occasionHeading={cart.occasionHeading}
      priceHeading={cart.priceHeading}
      editLabel={cart.editLabel}
      saveLabel={cart.saveLabel}
      cancelLabel={cart.cancelLabel}
      subtotalLabel={cart.subtotalLabel}
      checkoutLabel={cart.checkoutLabel}
      emptyMessage={cart.emptyMessage}
    />
  </div>
</Layout>
